//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org/
//registry.npmjs.org/@victorhugoaguilar/:_authToken=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
//registry.npmjs.org/@black_sheeps/:_authToken=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
